<section id="success" class="bg-light-gray">
  <div class="covidtest-container usa-section">
    <%= render :layout => 'card', :locals => {:title => t('kit_requests.new.contact_heading'), :is_fieldset => false, :full_width => true} do %>
      <div class="bg-blue text-white display-flex flex-align-start padding-2">
        <%= image_tag("check.svg", alt: '', class: 'flex-none margin-top-1 margin-right-2') %>
        <h1 class="content-none margin-0"><%= t('kit_requests.confirmation.title') %></h1>
      </div>
      <div class="padding-x-3 padding-y-2 text-dark-blue maxw-tablet">
        <h2><%= t('kit_requests.confirmation.sub_heading') %></h2>
        <%= t('kit_requests.confirmation.body_html') %>
      </div>
    <% end %>
  </div>
</section>

<section id="instructions">
  <div class="covidtest-container usa-section">
    <h2><%= t('kit_requests.confirmation.instructions.heading') %></h2>
    <h3 class="h1 content-none"><%= t('kit_requests.confirmation.instructions.sub_heading') %></h3>
    <%= t('kit_requests.confirmation.instructions.body_html') %>
  </div>
</section>

<section id="about" class="covidtest-about bg-light-gray">
  <div class="covidtest-about__container covidtest-container bg-light-gray">
    <div class="covidtest-about__image">
      <%= image_tag("covidtest/tests.svg", alt: t('kit_requests.confirmation.about.alt'), width: "284", height: "259", loading: "lazy") %>
    </div>
    <div class="covidtest-about__content">
      <h2><%= t('kit_requests.confirmation.about.heading') %></h2>
      <p><%= t('kit_requests.confirmation.about.sub_heading') %></p>
      <%= t('kit_requests.confirmation.about.body_html') %>
    </div>
  </div>
</section>

<section id="resources" class="covidtest-resources">
  <%= image_tag("covidtest/resources.jpg", alt: "", loading: "lazy") %>
  <div class="covidtest-resources__container covidtest-container">
    <div class="covidtest-resources__content">
      <h2><%= t('kit_requests.confirmation.resources.heading') %></h2>
      <p><%= t('kit_requests.confirmation.resources.sub_heading') %></p>
      <%= t('kit_requests.confirmation.resources.body_html') %>
    </div>
  </div>
</section>

<section id="what-if" class="covidtest-whatif">
  <div class="covidtest-whatif__positive">
    <div class="covidtest-whatif__content">
      <%= image_tag("covidtest/covid.svg", alt: "", width: "70", height: "70", loading: "lazy") %>
      <h2><%= t('kit_requests.confirmation.whatif_positive.heading').html_safe %></h2>
      <p><%= t('kit_requests.confirmation.whatif_positive.body_html') %></p>
    </div>
  </div>
  <div class="covidtest-whatif__negative">
    <div class="covidtest-whatif__content">
      <h2><%= t('kit_requests.confirmation.whatif_negative.heading').html_safe %></h2>
      <p><%= t('kit_requests.confirmation.whatif_negative.body_html') %></p>
    </div>
  </div>
</section>

<section id="other" class="covidtest-other">
  <div class="covidtest-other__container covidtest-container">
    <div class="covidtest-other__image">
      <%= image_tag("covidtest/other.jpg", alt: t('kit_requests.confirmation.other.alt'), width: "555", height: "620", loading: "lazy") %>
    </div>
    <div class="covidtest-other__content">
      <h2><%= t('kit_requests.confirmation.other.heading') %></h2>
      <p><%= t('kit_requests.confirmation.other.sub_heading') %></p>
      <%= t('kit_requests.confirmation.other.body_html') %>
    </div>
  </div>
</section>
