<section class="bg-light-gray">
  <div class="bg-blue text-white">
    <div class="covidtest-container usa-section padding-bottom-12">
      <div class="display-flex flex-align-center">
        <%= image_tag("check.svg", alt: '', class: 'flex-none margin-right-2', height: 45, width: 45) %>
        <h1 class="content-none" tabindex="-1">
          <%= t('kit_requests.confirmation.title') %>
        </h1>
      </div>
    </div>
  </div>
  <div class="covidtest-container usa-section maxw-tablet margin-x-auto margin-top-neg-15 padding-top-4 padding-bottom-0">
    <%= render :layout => 'card', :locals => {:title => t('kit_requests.new.contact_heading'), :is_fieldset => false } do %>
        <h2 class="text-blue border-0 margin-top-0 margin-bottom-4 accent-after">
          <%= t('kit_requests.confirmation.sub_heading') %>
        </h2>
        <div class="bg-lighter-blue padding-3 text-dark-blue">
          <%= t('kit_requests.confirmation.body_html') %>
        </div>
        <p class="text-dark-blue"><%= t('kit_requests.confirmation.body_secondary_html') %></p>
    <% end %>
  </div>
</section>

<section class="bg-light-gray padding-bottom-4">
  <div class="bg-dark-blue text-white">
    <div class="covidtest-container usa-section padding-y-1">
      <h2 class="border-0">
        <%= t('kit_requests.confirmation.nav.heading') %>
      </h2>
    </div>
  </div>
  <div class="covidtest-container">
    <div class="arrow"></div>
    <h3><%= t('kit_requests.confirmation.nav.sub_heading') %></h3>
    <%= t('kit_requests.confirmation.nav.body_html') %>
  </div>
</section>

<section class="bg-white">
  <div class="covidtest-container usa-section padding-bottom-0">
    <h2 class="h3 border-0"><%= t('kit_requests.confirmation.instructions.heading') %></h2>
    <h3 class="h2 border-0 content-none text-bold"><%= t('kit_requests.confirmation.instructions.sub_heading') %></h3>
    <div class="margin-bottom-4">
      <%= t('kit_requests.confirmation.instructions.body_html') %>
    </div>
    <div class="bg-light-gray padding-3 text-dark-blue shadow-2">
      <h3 class="margin-bottom-4 margin-top-0"><%= t('kit_requests.confirmation.about.heading') %></h3>
      <%= t('kit_requests.confirmation.about.body_html') %>
    </div>
  </div>
</section>


<section>
  <div class="covidtest-container usa-section">
    <h2 class="border-0 accent-after">
      <%= t('kit_requests.confirmation.tests.heading') %>
    </h2>
    <div class="margin-bottom-4">
      <%= t('kit_requests.confirmation.tests.body_html') %>
    </div>
    <h3><%= t('kit_requests.confirmation.resources.heading') %></h3>
    <h4><%= t('kit_requests.confirmation.resources.sub_heading') %></h4>
    <%= t('kit_requests.confirmation.resources.body_html') %>
  </div>
</section>

<section class="bg-magenta text-white">
  <div class="covidtest-container usa-section">
    <h2 class="border-0"><%= t('kit_requests.confirmation.whatif_positive.heading').html_safe %></h2>
    <p><%= t('kit_requests.confirmation.whatif_positive.body_html') %></p>
  </div>
</section>

<section class="bg-dark-blue text-white">
  <div class="covidtest-container usa-section">
    <h2 class="border-0"><%= t('kit_requests.confirmation.whatif_negative.heading').html_safe %></h2>
    <p><%= t('kit_requests.confirmation.whatif_negative.body_html') %></p>
  </div>
</section>

<section class="border-bottom border-gray">
  <div class="covidtest-container usa-section">
    <h2 class="h3 border-0"><%= t('kit_requests.confirmation.other.heading') %></h2>
    <h3 class="h2 border-0 content-none text-bold"><%= t('kit_requests.confirmation.other.sub_heading') %></h3>
    <%= t('kit_requests.confirmation.other.body_html') %>
  </div>
</section>
