<div class="bg-light-gray">
  <div class="covidtest-container usa-section">
    <%= form_with model: @kit_request, class: "usa-form usa-form--large", id: "form" do |form| %>
      <div id="form-cntr">
        <h1 tabindex="-1">
          <%= t('kit_requests.new.title') %>
        </h1>

        <%= t('kit_requests.new.body_html') %>

        <% if @kit_request.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= t('kit_requests.new.error_header') %>
            </h2>
            <ul>
              <% @kit_request.errors.full_messages.each do |message| %>
                <li><%= message.downcase %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= render :layout => 'card', :locals => {:title => t('kit_requests.new.contact_heading')} do %>
          <p class="font-body-xs">
            <%= t('kit_requests.new.contact_html') %>
          </p>

          <%= form.label :first_name, class: "usa-label" do %>
          <%= t('activerecord.attributes.first_name') %>
            <span class="text-magenta">*</span>
          <% end %>
          <%= form.text_field :first_name, class: "usa-input", required: true %>

          <%= form.label :last_name, class: "usa-label" do %>
          <%= t('activerecord.attributes.last_name') %>
            <span class="text-magenta">*</span>
          <% end %>
          <%= form.text_field :last_name, class: "usa-input", required: true %>
        <% end %>

        <%= render :layout => 'card', :locals => {:title => t('kit_requests.new.shipping_heading'), :error_id => 'address-err-cntr' } do %>
          <p class="font-body-xs">
            <%= t('kit_requests.new.shipping_html') %>
          </p>
          <%= form.label :address, class: "usa-label" do %>
            Address<span class="text-magenta">*</span>
          <% end %>
          <div id="address-cntr"></div>
        <% end %>

        <%= render :layout => 'card', :locals => {:title => t('kit_requests.new.tracking_heading') } do %>
          <p class="font-body-xs">
            <%= t('kit_requests.new.tracking') %>
            <% unless UsStreetAddressValidator.smarty_disabled? %>
              <span class="text-italic text-blue"> <%= t('kit_requests.new.email_optional') %></span>
            <% end %>
          </p>
          <%= form.label :email, class: "usa-label" do %>
            <%= t('activerecord.attributes.email') %>
            <% if UsStreetAddressValidator.smarty_disabled? %>
              <span class="text-magenta">*</span>
            <% end %>
          <% end %>
          <%= form.email_field :email, class: "usa-input", required: UsStreetAddressValidator.smarty_disabled? ? true : false %>
        <% end %>
      </div>

      <%= render "application/review" %>

      <%= render "application/privacy" %>

      <%= form.submit t('kit_requests.new.submit'), class: "usa-button radius-pill font-ui-lg width-full margin-top-0", id:"submit-btn" %>
    <% end %>
  </div>
</div>
