<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic bg-white">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text">
          <a href="javascript:void(0)" title="<%= t('shared.header.title') %>">
            <%= t('shared.header.title') %>
          </a>
        </em>
      </div>
      <button class="usa-menu-btn"><%= t('shared.header.menu') %></button>
    </div>
    <nav aria-label="<%= t('shared.header.primary') %>" class="usa-nav">
      <button class="usa-nav__close">
        <%= image_tag "uswds/dist/img/usa-icons/close.svg", :alt => t('shared.header.close') %>
      </button>
      <ul class="usa-nav__primary usa-accordion">
        
      </ul>
    </nav>
  </div>
</header>
