<div class="usa-overlay"></div>
<header class="covidtest-header">
  <div class="covidtest-header__container covidtest-container">
    <div class="covidtest-logo">
      <em class="covidtest-logo__text">
        <%= image_tag("covidtest/wecandothis-logo-#{I18n.locale || I18n.default_locale}.svg", alt: t('shared.header.title'), width: "98", height: "98") %>
        <%= link_to t('shared.header.title'), root_path %>
      </em>
    </div>
    <nav aria-label="<%= t('shared.header.primary') %>" class="covidtest-nav">
      <!-- Desktop Nav -->
      <ul class="covidtest-nav__primary">
        <li class="covidtest-nav__primary-item">
          <span><%= link_to t('shared.languages.en'), root_path(locale: 'en') %></span>
        </li>
        <li class="covidtest-nav__primary-item">
          <span><%= link_to t('shared.languages.es'), root_path(locale: 'es') %></span>
        </li>
        <li class="covidtest-nav__primary-item">
          <span><%= link_to t('shared.languages.zh'), '/' %></span>
        </li>
      </ul>

      <!-- Mobile Nav -->
      <ul class="covidtest-nav__primary-mobile usa-accordion">
        <li class="covidtest-nav__primary-mobile-item">
          <button
            class="usa-accordion__button"
            aria-expanded="false"
            aria-controls="covidtest-languages">
            <span><%= link_to t('shared.languages.en'), root_path(locale: 'en') %></span>
          </button>
          <ul id="covidtest-languages" class="covidtest-nav__primary-submenu usa-accordion__content">
            <li class="covidtest-nav__primary-submenu-item">
              <span><%= link_to t('shared.languages.es'), root_path(locale: 'es') %></span>
            </li>
            <li class="covidtest-nav__primary-submenu-item">
              <span><%= link_to t('shared.languages.zh'), '/' %></span>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
