<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TestAtHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-primary-lighter">
    <%= render "application/usa_banner" %>
    <%= render "application/header" %>
    <main id="main-content" class="text-primary-dark">
      <div class="grid-container usa-section">
        <%= yield %>
      </div>
    </main>
    <%= render "application/footer" %>
  </body>
</html>
