<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t('shared.header.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <% if Rails.env.production? %>
      <%= render "new_relic_js_production" %>
    <% elsif Rails.env.staging? %>
      <%= render "new_relic_js_staging" %>
    <% end %>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" sizes="16x16">

    <!-- Structured Data -->
    <%= javascript_tag nonce: true, type: "application/ld+json" do %>
      [
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name":"<%= t('shared.header.title') %>",
          "url": "https://www.covidtests.gov/",
          "logo": "https://www.covidtests.gov/favicon.ico",
          "parentOrganization": [
            {
              "@type": "Organization",
              "name": "U.S. Department of Health & Human Services",
              "url": "https://www.hhs.gov/"
            }
          ]
        },
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "name": "<%= t('shared.header.title') %>",
          "url": "https://www.covidtests.gov/"
        }
      ]
    <% end %>

    <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
    <% if Rails.env.production? %>
      <%= javascript_include_tag "https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=HHS", async: true, id:"_fed_an_ua_tag" %>
    <% end %>
  </head>

  <body>
    <%= render "application/usa_banner" %>
    <%= render "application/header" %>
    <main id="main-content" class="covidtest-main font-noto-sans border-top-0">
      <%= yield %>
    </main>
    <%= render "application/footer" %>
    <%= javascript_tag nonce: true do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale || I18n.default_locale %>";
    <% end %>
  </body>
</html>
