<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TestAtHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.production? || Rails.env.staging? %>
      <%= render "new_relic_js" %>
    <% end %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-primary-lighter">
    <%= render "application/usa_banner" %>
    <%= render "application/header" %>
    <main id="main-content" class="text-primary-dark">
      <div class="grid-container usa-section">
        <%= yield %>
      </div>
    </main>
    <%= render "application/footer" %>
    <%= javascript_tag nonce: true do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>"
      I18n.locale = "<%= I18n.locale || I18n.default_locale %>"
    <% end %>
  </body>
</html>
